/*******fonts**********/
@font-face {
    font-family:titulo ;
    src: url(../fonts/LazenbyCompLiquid.ttf);
}
@font-face {
    font-family: texto;
    src: url(../fonts/OpenSans-Regular.ttf);
}
/*********estilo general**********/
body {background-color: rgb(0, 0, 0);}
.finfloat {clear: both;}
html {scroll-behavior: smooth;}

/********NAV*********/
.topnav {
    overflow: hidden;
    background-color: #333;

  }
  
  .topnav a {
    float: left;
    display: block;
    color: aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: titulo;
  }
  
  .topnav a:hover {
    background-color: goldenrod;
    color: rgb(0, 0, 0);
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/********estilo hero********/
#hero {background-image:url(../images/hero.jpg);
        background-size: cover;
        height: 90vh;
        background-position: 90%;}
#hero h1 {font-family: titulo;
            color: aqua;
            background-color: black;
            padding: 1%;
            
            border-radius: 20px;
            box-shadow:6px 0px 4px 2px goldenrod;
            position: absolute;
            top: 400px;
            left: 50px;
        border-bottom:2px goldenrod;
        font-size: 2em;}

/*********estilo introduction***********/
#introduction {
    font-family: texto;
    color: aqua;
    margin: 6%;
    padding: auto;
    font-size: 1em;}
#introduction h2 {color: aqua;
                text-align: center;
                font-family: titulo;
                background-color: black;
                padding:2%;
                border-radius: 20px;
                margin:80px;
                position: relative;
                box-shadow:0px 2px 4px 2px goldenrod ;
                }
#introduction p::first-letter{color: goldenrod;}
#introduction img {display: block;
                    float: right;
                    width: 40%;}
/*********estilo gallery*********/
#gallery {
    font-family: texto;
    color: aqua;
    margin: 6%;
    padding: auto;
    font-size: 1em;} 
#gallery h2 {color: aqua;
    text-align: center;
    margin:80px;
    font-family: titulo;
    background-color: black;
    padding:2%;
    border-radius: 20px;
    position: relative;
box-shadow:0px 2px 4px 2px goldenrod ;}
#gallery p::first-letter{color: goldenrod;}
#gallery h3{color: aqua;
    text-align: center;
    font-family: titulo;}

.colum {width: 25.33%;
        box-sizing: border-box;
        float: left;
        padding: 2%;
        box-shadow:0px 0px 8px 2px goldenrod ;
        margin: 4%;
        }

.colum img{width: 100%;
            display: block;
        position: relative;
        padding: 2%;
        }

button{text-decoration: none;
        background-color: aqua;
        color: black;
        font-weight:bold;
        font-family: texto;
        margin-top: 4%;
        position: relative;
        left: 25%;}

/**********estilo footer*******/

#contacto {background-color: rgb(0, 0, 0);
        color: aqua;
    text-align: center;
    box-shadow:0px 2px 6px 2px goldenrod ;
    font-family: texto;
    font-size: 1em;
    padding: 0.5%;
    margin: 45px;
}

/********media queries**********/

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

@media screen and (max-width: 1000px) {
    #introduction img {width: 60%;}
    .colum {width: 42%;}
}
@media screen and (max-width: 600px) {
    #introduction img {width: 100%;}
    .colum {width: 100%;}
    button {left: 35%}

}